* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.title {
    font-family: 'roboto', serif;
}

body {
    background-color: #fafafa;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1DB954;

}

.container .items {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0.5rem;
}

.container .items .item {
    width: 100%;
    color: #fff;
}

.container .items .item .card {
    width: 100%;
    border: 1px solid #aaa2;
    color: #fff;
    background: linear-gradient(to bottom, )transparent, #111;
    position: relative;
    min-height:600px ;
    border-radius: 6px;
    box-shadow: 2px 4px 8px #0007;
    overflow: hidden;
    background-color: #000;
}

.container .items .item .card .album {
    width: 100%;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    padding:0.5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    overflow: hidden;
    opacity: 0.4;
   gap:0rem  ;
}


.container .items .item .card .album .image {
     width: 100%;
    height: 150px;
    padding-top: 50px;
    overflow: hidden;
}

.container .items .item .card .album .image:nth-child(n+1){
    width: 100%;
    height: 150px;
    padding-top: 0px;
    overflow: hidden;
}

.container .items .item .card .album .image .img:nth-child(2n+1){
    width: 100%;
    margin-top: 0px;
}
.container .items .item .card .album .image .img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.container .items .titles {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.container .items .titles .title {
    font-size: 70px;
    font-weight: 500;
    color: #fff;
}

.container .items .titles .icon {
    font-size: 80px;
    color: #fff;
}

.container .card .content {
    position: absolute;
    z-index: 20;
    padding: 1rem;
    padding-top: 100px;
    background: linear-gradient(to bottom, #000, #000);
    width: 100%;
    height: 100%;
}

.container .card .content .card-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

.container .card .content .card-head .icon-sm {
    font-size: 33px;
}

.container .card .content .card-head .subtitle {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.container .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}
.container .or {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.container .or::after{
    width: 40%;
    height: 1px;
    position: absolute;
    content: '';
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
   background-color:  #aaaa;
}
.container .or::before{
    width: 40%;
    height: 1px;
    position: absolute;
    content: '';
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
   background-color:  #aaaa;
}
.container .controls .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #0004;
    border: 1px solid #fffa;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: all 1s;
}
.container .controls .btn-primary{
    background-color: #1DB954ee;
    color: #000;
}
.container .controls .btn:hover {
    background-color: #000;
    color: #1DB954;
    border-color: #1DB954;
    background-color: #fffe;
}
.container .controls .btn-primary :hover{
    background-color: #1DB954ee;
    color: #000;
    border-color: #1DB954;
}

.container .controls .btn i {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}

.container .card .card-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    padding-top: 1.5rem;
}
.container .card .card-footer .link{
    font-size: 13.5px;
    font-weight: 500;
    color: #fff;
}